<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Update state</title>
</head>
<body>
    <h1>Update care status</h1>

    <form method="post">
        {% csrf_token %}
        <p>
            <label for="cotent">Content:{{ care.content }}</label>
        </p>
        <p>
            <label for="state">state:</label>
            <input type="radio" id="NOT_APPROVED" name="state" value="NOT_APPROVED" {% if care.care_state == 'NOT_APPROVED' %}checked{% endif %}>
            <label for="NOT_APPROVED">NOT_APPROVED</label>
            <input type="radio" id="CONFIRMED" name="state" value="CONFIRMED" {% if care.care_state == 'CONFIRMED' %}checked{% endif %}>
            <label for="CONFIRMED">CONFIRMED</label>
            <input type="radio" id="APPROVED" name="state" value="APPROVED" {% if scare.care_state == 'APPROVED' %}checked{% endif %}>
            <label for="APPROVED">APPROVED</label>
        </p>
        <button type="submit">Update</button>
    </form>

    <br>
    <a href='/care/care/list/'>Back to List</a>
</body>
</html>
