<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/notice_detail.css">
    <title>공지 상세 페이지</title>
</head>
<body>
    <div class="container">
        <h1>공지 상세 페이지</h1>
        <div class="notice-detail">
            <p class="notice-title">{{ notice.title }}</p>
            <p class="notice-date">{{ notice.date }}</p>
            <p>{{ notice.content }}</p>
        </div>
        <button onclick="goBack()">목록으로 돌아가기</button>
    </div>

    {% if user == post.author %}
            <a href="{% url 'blog:post_edit' pk=post.pk %}" class="button">글 수정하기</a>
            <button onclick="confirmDeletePost({{ post.pk }})" class="button">글 삭제하기</button>
        {% endif %}
    
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
