<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    {% load static %}
    </head>
    <body>
        <main>
            {% if post_list %}
            <table id="container">
                <thead>
                    <tr>
                        <th>등록 일자</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>이미지</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in post_list %}
                    <tr onclick="location.href='{% url 'blog_app:post_detail' post.pk %}';">
                        <td>{{ post.datetime }} </td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.user_id }}</td>
                        <td>이미지파일</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No posts available.</p>
            {% endif %}
        </main>
    </body>
</html>