body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
}
.sidebar {
    width: 50%;
    height: 100vh;
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    /* border-right: 1px solid #ddd; */
    justify-content: center; 
    align-items: center; 
}
.sidebar img {
   margin-top:100px;
    width:100px;
    height: 100px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    justify-content: center; 
    align-items: center;
}

.menu{
    margin-top: 100px; 
    padding: 0;
    list-style-type: none;
}

.sidebar ul li {
    margin: 50px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #e7f4fc;
    text-align: center;
}
.content img {
    width: 50%;
    margin-top:80px;
}