@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'KCC-Hanbit';
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #e7f5fe;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 50px;
}

.header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #e7f5fe;
}

.text-container {
    max-width: 50%;
}

.text-container h1 {
    font-size: 2.5em;
    color: #333;
}

.text-container h2 {
    font-size: 2em;
    color: #007bff;
}

.text-container p {
    font-size: 1.2em;
    color: #555;
}

.image-container {
    max-width: 45%;
}

.image-container img {
    width: 100%;
    height: auto;
}
