body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 100%;
    max-width: 500px;
    height: 800px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
}

.header {
    background-color: #4caf50;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px 15px 0 0;
}

.header-title {
    font-size: 24px;
}

.wrap {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    position: relative;
}

.placeholder-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999;
    font-size: 18px;
    text-align: center;
}

.chat {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.chat.ch1 {
    justify-content: flex-start;
}

.chat.ch2 {
    justify-content: flex-end;
}

.icon {
    font-size: 28px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 50%;
}

.bot-icon {
    background-color: #4caf50;
    color: #fff;
}

.user-icon {
    background-color: #ccc;
}

.textbox {
    max-width: 70%;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    word-wrap: break-word;
}

.bot-message {
    background-color: #e0f7fa;
    color: #00796b;
}

.user-message {
    background-color: #c8e6c9;
    color: #2e7d32;
}

.input-section {
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 30px;
}

textarea {
    flex-grow: 1;
    padding: 15px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    resize: none;
    outline: none;
    overflow : hidden;
}

.timestamp {
    font-size: 12px;
    color: #999;
    margin : 20px 5px 0px 5px;
    
}

#text-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

#text-button:hover {
    background-color: #388e3c;
}

#reset-button {
    background-color: #f44336;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    width : 100%;
}

#reset-button:hover {
    background-color: #d32f2f;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #0030df;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0030a0;
}
