@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'KCC-Hanbit';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 80vh; /* Adjust based on your content */
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
    color: #555;
}

.footer-content a {
    color: #0066cc;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

